.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  align-items: center;
  color: #000000;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
 }

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  align-self: center;
  color: #000000;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  bottom: 30px;
  left: 64px;
  color: #000000;
  text-align: left;
  z-index: 3;
  margin: 0;
}

.header__link {
  font-size: 18px;
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  background-color: #f2f2f2;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  margin-bottom: 100px;
  min-width: 784px;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  color: #000000;
  margin: 0;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  margin: auto;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  width: 60%;
  text-align: center;
  color: #000000;
}

.table {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 1100px;
  margin: auto;
  padding: 0;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
  color: #000000;
}

.feynman {
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: 0 100%;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
  color: #000000;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link:hover {
  background-color: #f2f2f2;
}

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  color: #FFFFFF;
  flex-direction: column;
  position: relative;
  padding: 90px 0;
  align-items: center;
  display: flex;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  width: 887px;
  height: 887px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

.section-title_theme_dark {
  z-index: 2;
  color: #FFFFFF
}

.section-subtitle_theme_dark {
  z-index: 1;
  color: #FFFFFF
}

.table_theme_dark {
  color: #FFFFFF;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: #FFFFFF;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: #FFFFFF;
}

.table__text_theme_dark {
  color: #FFFFFF;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  min-height: 350px;
  color: #FFFFFF;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column-links {
  list-style-type:none;
  padding: 20px 0 16px 0;
  margin: auto;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  color: #FFFFFF;
}

.footer__column-link:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0 10px 0 0;
  margin: auto;
}
